.item-list {
  margin-top: 5%;

  .action-wrapper {
    display: flex;

    > div {
      flex: 1 1 auto;
    }
  }

  .search-wrapper {
    margin-bottom: 24px;
  }

  .search-alert {
    &__not-found {
      margin-top: 18px;
    }
  }
}
